/*
These colors are pulled from HTMLCARS, which is licensed under the Mozilla Public License 2.0.
Specifically, I am using the year 2369 pallette.
Go to https://xiphoseer.de/htmlcars/ to find the license and other information.
*/
@blue-bell: #99c;
@melrose: #99f;
@lilac: #c9c;
@hopbush: #c69;
@chestnut-rose: #c66;
@orange-peel: #f96;
@atomic-tangerine: #f90;
@golden-tanoi: #fc6;