@import "colors";

@font-face {
    font-family: 'Antonio';
    src: url('Antonio/Antonio-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Open Sans';
    src: url('Open_Sans/OpenSans-VariableFont_wdth,wght.ttf');
}

body {
    background-color: black;
    color: white;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: row;
    margin: 10px;
    // filter: brightness(125%);
}
body::before {
    display: block;
    content: '';
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6) 60%, black 90%);
    background-size: 100vw 100vh;
    opacity: 25%;
    pointer-events: none;
}

// Better variant for desktop
@media only screen and (max-resolution: 1.99dppx) {
    body::before {
        background-image: radial-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6) 70%, black 90%);
    }
}

h1, h2, h3, h4, h5, h6 {
    color: @orange-peel;
    font-family: "Antonio", "Oswald", "Impact", sans-serif;
    font-weight: normal;
}
a {
    color: @melrose;
}
a:visited {
    color: @hopbush;
}

#wiki-title {
    font-size: 20px;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    color: @orange-peel;
    flex-basis: fit-content;
    flex-grow: 0;
    flex-shrink: 0;
}

#page-title {
    margin-top: 0px;
    padding-top: 0px;
}

#main-content {
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 5px;
    width: 100%;
    flex-shrink: 1;
}

#sidebar-container {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 10px;
    height: 100vh;
    .lcars-corner-svg {
        width: 100%;
    }
}

#logo {
    display: block;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.lcars-corner {
    fill: @orange-peel;
}

.lcars-corner-svg {
    height: 100px;
}

.lcars-inner-corner-svg {
    height: 62.5px;
}

#lcars-corner-top-left-svg {
    height: 100px;
    border-bottom: 5px black solid;
    flex-shrink: 0;
}

#lcars-corner-bottom-left-svg {
    height: 100px;
    border-top: 5px black solid;
}

#lcars-top-bar-svg {
    width: 10%;
    height: 25px;
    border-left: 5px black solid;
    flex-basis: 0;
    flex-grow: 3;
    flex-shrink: 3;
    filter: brightness(125%);
}

#lcars-top-bar {
    fill: @lilac;
}

#lcars-end-cap-right {
    fill: @lilac;
}

.sidebar {
    display: flex;
    float: left;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    flex-direction: column;
    color: black;
    text-align: right;
    flex-grow: 1;
    filter: brightness(125%);
    li {
        filter: none;
        font-family: "Antonio", "Oswald", "Impact", sans-serif;
        padding: 2px;
        border-bottom: 5px black solid;
        flex-grow: 1;
        a {
            display: block;
            color: black;
            text-decoration: none;
            width: 100%;
            height: 100%;
        }
    }
    .sidebar-fill {
        display: block;
        height: 100%;
    }
}

#sidebar-navigation {
    background-color: @orange-peel;
    li:hover {
        background-color: @orange-peel;
        filter: brightness(125%);
    }
    li:active {
        background-color: @orange-peel;
        filter: brightness(75%);
    }
}

#sidebar-user {
    background-color: @lilac;
    li:hover {
        background-color: @lilac;
        filter: brightness(125%);
    }
    li:active {
        background-color: @lilac;
        filter: brightness(75%);
    }
}

#vertical-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#top-bar {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 10px;
    width: 100%;
    margin-left: -0.5px;
}