<body>
    <div id="sidebar-container">
        {{>lcars-top-left}}
        {{#data-logos}}
            {{#icon}}<img src="{{.}}" id="logo">{{/icon}}
        {{/data-logos}}
        <ul id="sidebar-navigation" class="sidebar">
            {{#data-portlets-sidebar.data-portlets-first}}
                {{#array-items}}
                    {{#array-links}}
                        <li><a {{#array-attributes}}{{key}}="{{value}}"{{/array-attributes}}>{{text}}</a></li>
                    {{/array-links}}
                {{/array-items}}
            {{/data-portlets-sidebar.data-portlets-first}}
        </ul>
        <ul id="sidebar-user" class="sidebar">
            {{#data-portlets}}
                <!-- {{#data-user-page}}
                    {{#array-items}}
                        {{#array-links}}
                            <li><a {{#array-attributes}}{{key}}="{{value}}"{{/array-attributes}}>{{text}}</a></li>
                        {{/array-links}}
                    {{/array-items}}
                {{/data-user-page}} -->
                {{#data-user-menu}}
                    {{#array-items}}
                        {{#array-links}}
                            <li><a {{#array-attributes}}{{key}}="{{value}}"{{/array-attributes}}>{{text}}</a></li>
                        {{/array-links}}
                    {{/array-items}}
                {{/data-user-menu}}
            {{/data-portlets}}
        </ul>
        <!-- {{>lcars-bottom-left}} -->
    </div>
    <div id="vertical-container">
        <div id="top-bar">
            {{>lcars-inner-corner-top-left}}
            {{>lcars-top-bar}}
            <h1 id="wiki-title">{{msg-sitetitle}}</h1>
            {{>lcars-end-cap-right}}
        </div>
        <div id="main-content">
            <h1 id="page-title">{{{html-title}}}</h1>
                <div id="content">
                    {{{html-body-content}}}
                </div>
            {{#array-indicators}}
		        <div id="{{id}}" class="{{class}}">{{{html}}}</div>
		    {{/array-indicators}}
            {{{html-after-content}}}
            {{#data-portlets}}
                {{#data-namespaces}}
                    {{#array-items}}
                        {{#array-links}}
                            <li><a {{#array-attributes}}{{key}}="{{value}}"{{/array-attributes}}>{{text}}</a></li>
                        {{/array-links}}
                    {{/array-items}}
                {{/data-namespaces}}
                {{#data-variants}}
                    {{#array-items}}
                        {{#array-links}}
                            <li><a {{#array-attributes}}{{key}}="{{value}}"{{/array-attributes}}>{{text}}</a></li>
                        {{/array-links}}
                    {{/array-items}}
                {{/data-variants}}
                {{#data-views}}
                    {{#array-items}}
                        {{#array-links}}
                            <li id={{id}}><a {{#array-attributes}}{{key}}="{{value}}"{{/array-attributes}}>{{text}}</a></li>
                        {{/array-links}}
                    {{/array-items}}
                {{/data-views}}
                {{#data-actions}}
                    {{#array-items}}
                        {{#array-links}}
                            <li><a {{#array-attributes}}{{key}}="{{value}}"{{/array-attributes}}>{{text}}</a></li>
                        {{/array-links}}
                    {{/array-items}}
                {{/data-actions}}
            {{/data-portlets}}
        </div>
    </div>
</body>